* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  body {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  div#container {
	position: absolute;
	display: flex;
	overflow: visible;
	width: 100vw;
	bottom: 0;
	height: 187.35px;
	z-index: -1;
  }
  svg {
	position: absolute;
	top: 0;
	width: 106.2px;
  }
  div#container2 {
	  opacity: 0.5;
	  position: absolute;
	  bottom: 0;
	  height: 150px;
	  z-index: 1;
  }
  div#container2 svg {
	  scale: 0.5;
  
  } 